body:before {
  content: "";
  position: fixed;
  inset: -50px;
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/3000px 3000px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 40% 40%/4000px 3000px;
  background-blend-mode: difference;
  filter: blur(2px) contrast(100) brightness(40);
  mix-blend-mode: lighten;
}

body {
  background: #f6a17a;
  margin: 0;
  min-height: 100%;
}

html {
  background: #fff;
  height: 100%;
  margin: 0px;
}

body>div {
  position: relative;
}

#site-title {
  font-family: "Monaco", "Fantasy", monospace;
  font-size: 80px;
  text-align: center;
  background-color: #881504;
  margin: 8px auto 8px auto;
  width: 600px;
  color: white;
  border: 8px solid #04AA6D;
}

#page-title {
  font-family: "Monaco", "Fantasy", monospace;
  font-size: 80px;
  text-align: center;
  background-color: #f6a17a;
  margin: 20px auto 20px auto;
  width: 1000px;
  color: black;
  border: 8px solid #333;
  border-radius: 80px;
}

.topnav {
  background-color: #04AA6D;
  overflow: hidden;
  width: 800px;
  margin: auto;
  text-align: center;
  border: 6px solid #333;
  border-radius: 40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  border: 2px solid #333;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #881504;
  color: white;
}


#slide-container {
  margin: 100px auto 20px auto;
  width: 50%;
  height: 800px;
  position: relative;
}

#slide-image {
  border: 8px solid #333;
  border-radius: 80px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#previous {
  width: 100px;
  height: auto;
  transform: rotate(-90deg);
}

#next {
  width: 100px;
  height: auto;
  transform: rotate(90deg);
}

.fadeinimg {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 8px solid #333;
  border-radius: 80px;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#facts-title {
  font-family: 'comic sans ms', cursive;
  font-size: 80px;
  text-align: center;
  background-color: #881504;
  margin: 8px auto 8px auto;
  width: 600px;
  color: white;
  border: 8px solid #04AA6D;
}

button.round {
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.round:hover {
  background-color: #881504;
}

button.round:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
  background-color: #881504;
}

button.pressed {
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
  cursor: pointer;
  background-color: #881504;
}


#button-container {
  display: inline;
  margin: 10px auto 10px auto;
  text-align: center;
}

#ul_top_hypers {
  list-style-type: none;
}

#ul_top_hypers li {
  padding: 30px;
  display: inline;
}

#facts-container {
  background-color: #f6a17a;
  margin: 20px auto 20px auto;
  width: 1000px;
  height: 1000px;
  border: 8px solid #333;
  border-radius: 80px;
  text-align: center;
}

#facts {
  font-family: 'comic sans ms', cursive;
  font-size: 100px;
}


.facts2 {
  font-family: 'comic sans ms', cursive;
  font-size: 50px;
  animation: fadein 2s;
}

#footer {
  font-size: 30px;
  text-align: center;
  background-color: #f6a17a;
  position: relative;
  margin: auto;
  height: 40px;
}