body:before {
    content: "";
    position: fixed;
    inset: -50px;
    background: 
     repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 
      60% 60%/3000px 3000px,
     repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 
      40% 40%/4000px 3000px;
    background-blend-mode: difference;
    filter: blur(2px) contrast(100) brightness(40);
    mix-blend-mode: lighten;
  }
  
  body {
    background: #f6a17a;
    margin: 0;
    min-height: 100%;
  }

  html {
    background: #fff;
    height: 100%;
    margin: 0px;
  }

body > div {
    position: relative;
}

#site-title {
    font-family:  "Monaco", "Fantasy", monospace;
    font-size: 80px;
    text-align: center;
    background-color: #881504;
    margin: 8px auto 8px auto;
    width: 600px;
    color: white;
    border: 8px solid #04AA6D;
}

#page-title {
    font-family:  "Monaco", "Fantasy", monospace;
    font-size: 80px;
    text-align: center;
    background-color: #f6a17a;
    margin: 20px auto 20px auto;
    width: 1000px;
    color: black;
    border: 8px solid #333;
    border-radius: 80px;
}

.topnav {
    background-color: #04AA6D;
    overflow: hidden;
    width: 800px;
    margin: auto; 
    text-align: center;
    border: 6px solid #333;
    border-radius: 40px;
  }

/* Style the links inside the navigation bar */
/* .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    border: 2px solid #333;
  } */
  

  /* Comment Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #881504;
    color: white;
  }


  /*Added test  */
  div.topnav{
    display: table;
    background-color: #04AA6D;

    /* width: 100%; */
    table-layout: fixed;    /* For cells of equal size */
  }

  div.topnav a {
    display: table-cell;
    text-align: center;
}