#shortage-content h2 {
  margin: 20px auto 8px auto;
  background-color: #f6a17a;
  border-radius: 80px;
  max-width: 800px;
  font-size: 80px;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#shortage-content p {
  margin: 8px auto 8px auto;
  padding: 15px;
}

h3,
ol,
li,
p {
  margin: 32px auto 8px auto;
  width: 1100px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f6a17a;
}

#info-box p {
  height: 300px;
}

#info-box {
  position: relative;
  max-width: 1100px;
  height: 400px;
  margin: 8px auto 8px auto;
}

.fadeinimg {
  position: absolute;
  border: 8px groove black;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    left: 400px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

.clickMore {
  position: absolute;
  bottom: 0;
  right: 0;
}

#salePhoto {
  display: block;
  margin: auto;
  border: 4px solid black;
}

.rotate {
  animation-name: spinIt;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes spinIt {
  from {
    transform: rotate(0deg) scale(0.4);
  }

  to {
    transform: rotate(360deg) scale(0.1);
  }
}

ol {
  list-style: none;
  counter-reset: item;
}

li {
  counter-increment: item;
}

li:before {
  content: "[" counter(item)"]";
}

h4 {
  margin: 0px auto 0px auto;
  width: 1000px;
  text-align: center;
  position: absolute;
  font-size: 80px;
  color: transparent;
  top: 100px;
  padding-bottom: 250px;
  padding-top: 250px;
  left: 0;
  right: 0;
}

h4:hover {
  color: white;
}